.profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 36px 0 51px;
  position: relative;
}

@media (max-width:1279px) {
  .profile {
    margin: 0 auto;
    justify-content: center;
  }
}

@media (max-width:768px) {
  .profile {
    flex-direction: column;
    align-items: center;
    padding: 41.25px 0 36px;
  }
}
