.profile {
  display: grid;
  grid-template-columns: auto auto 1fr;
  margin: 36px 0 47.25px 0;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 38.25px 0 0 0;
  }
}