.profile__full-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 29px;
}

@media (max-width:768px) {
  .profile__full-name {
    align-items: center;
    padding: 22.25px 10px 32px 20px;
  }
}

@media (max-width:425px) {
  .profile__full-name {
    padding-left: 32px;
  }
}