.popup__submit {
  background-color: #000;
  width: 358px;
  height: 50px;
  color: #fff;
  border-radius: 2px;
  font-size: 18px;
  line-height: 1.20;
  text-align: center;
  border: none;
  cursor: pointer;
}

.popup__submit:hover {
  opacity: .8;
}

@media (max-width:425px) {
  .popup__submit {
    width: 238px;
    height: 46px;
    font-size: 14px;
  }
}