.profile__description {
  font-size: 18px;
  line-height: 1.21;
  font-weight: 400;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 336px;
  text-align: center;
}

@media (max-width:768px) {
  .profile__description {
    font-size: 16px;
    max-width: 282px;
  }
}
  
@media (max-width:425px) {
  .profile__description {
    font-size: 14px;
  }
}
