.popup__title {
  font-size: 24px;
  line-height: 1.20;
  font-weight: 900;
  padding-bottom: 50px;
  margin: 0;
  width: 358px;
}

@media (max-width:425px) {
  .popup__title {
    width: 238px;
    padding-bottom: 75px;
    font-size: 18px;
  }
}